<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <Form  method="GET" action ="{% url 'home' %}"> {% comment %}  this is the form to search for rooms, we get the value of the input and send it to the home view {% endcomment %}


        <input type="text" name="q" placeholder="Search"> {% comment %} here the user will type the name of the room he wants to search for which is "q" in the home view, we get 'q' from here and send it to the home view {% endcomment %}
        </Form>
      {% comment %} {% if request.user is authenticated%}
      {% comment %} {% if request.user.username = room.host.username%} {% endcomment %}
      {% comment %} <a href = "{% url 'UserProfile' user.id%}">Profile</a> {% endcomment %} 
    </div>
  </nav>