{% comment %} {% include "navbar.html" %} {% endcomment %}
<h1>Room Template!!!!!! in base/room.html</h1>




<small>@{{room.host}}</small>
<h2>{{room.id}}. {{room.name}}</h2>
<small>"{{room.topic}}"</small>
{% comment %} <p><b>{{rooms}}<b></p > {% endcomment %}

    {% comment %} <h2>List of Rooms in base/room.html : </h2> {% endcomment %}
    {% comment %} <div>
      <h3>{%for room in rooms%} 
        <div>{{room.id}} <span> --- </span>{{room.name}} </div>
        {%endfor%}
      </h3>

    </div> {% endcomment %}